<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="code" value="ZM" />
    <add key="appkey" value="90391DB54237128D56B660A4D0CDFE4E" />
    <add key="signkey" value="65d2e224ed894f92b206b2f5fe189334" />
    <add key="payee" value="21375971" />
  </appSettings>
</configuration>